<a href="https://colab.research.google.com/github/ard714/Deepflow_stamatics/blob/main/deepflow_major_assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files

In [10]:
uploaded = files.upload()

Saving train_tmp.csv to train_tmp.csv

In [13]:
df = pd.read_csv("train_tmp.csv")
df.info()

<ipython-input-13-1379770305>:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("train_tmp.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412698 entries, 0 to 412697
Data columns (total 57 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   412698 non-null  int64
 1   SalePrice                 412698 non-null  float64
 2   MachineID                 412698 non-null  int64
 3   ModelID                   412698 non-null  int64
 4   datasource                412698 non-null  int64
 5   auctioneerID              392562 non-null  float64
 6   YearMade                  412698 non-null  int64
 7   MachineHoursCurrentMeter  147504 non-null  float64
 8   UsageBand                 73670 non-null   object
 9   fiModelDesc               412698 non-null  object
 10  fiBaseModel               412698 non-null  object
 11  fiSecondaryDesc           271971 non-null  object
 12  fiModelSeries             58667 non-null   object
 13  fiModelDescriptor         74816 non-null   object
 14  ProductSize               196093 non-null  object
 15  fiProductClassDesc        412698 non-null  object
 16  state                     412698 non-null  object
 17  ProductGroup              412698 non-null  object
 18  ProductGroupDesc          412698 non-null  object
 19  Drive_System              107087 non-null  object
 20  Enclosure                 412364 non-null  object
 21  Forks                     197715 non-null  object
 22  Pad_Type                  81096 non-null   object
 23  Ride_Control              152728 non-null  object
 24  Stick                     81096 non-null   object
 25  Transmission              188007 non-null  object
 26  Turbocharged              81096 non-null   object
 27  Blade_Extension           25983 non-null   object
 28  Blade_Width               25983 non-null   object
 29  Enclosure_Type            25983 non-null   object
 30  Engine_Horsepower         25983 non-null   object
 31  Hydraulics                330133 non-null  object
 32  Pushblock                 25983 non-null   object
 33  Ripper                    106945 non-null  object
 34  Scarifier                 25994 non-null   object
 35  Tip_Control               25983 non-null   object
 36  Tire_Size                 97638 non-null   object
 37  Coupler                   220679 non-null  object
 38  Coupler_System            44974 non-null   object
 39  Grouser_Tracks            44875 non-null   object
 40  Hydraulics_Flow           44875 non-null   object
 41  Track_Type                102193 non-null  object
 42  Undercarriage_Pad_Width   102916 non-null  object
 43  Stick_Length              102261 non-null  object
 44  Thumb                     102332 non-null  object
 45  Pattern_Changer           102261 non-null  object
 46  Grouser_Type              102193 non-null  object
 47  Backhoe_Mounting          80712 non-null   object
 48  Blade_Type                81875 non-null   object
 49  Travel_Controls           81877 non-null   object
 50  Differential_Type         71564 non-null   object
 51  Steering_Controls         71522 non-null   object
 52  saleYear                  412698 non-null  int64
 53  saleMonth                 412698 non-null  int64
 54  saleDay                   412698 non-null  int64
 55  saleDayOfWeek             412698 non-null  int64
 56  saleDayOfYear             412698 non-null  int64
dtypes: float64(3), int64(10), object(44)
memory usage: 179.5+ MB

In [19]:
print(df.shape)

(412698, 57)

In [14]:
df.describe()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,saleYear,saleMonth,saleDay,saleDayOfWeek,saleDayOfYear
count,4.126980e+05,412698.000000,4.126980e+05,412698.000000,412698.000000,392562.000000,412698.000000,1.475040e+05,412698.000000,412698.000000,412698.000000,412698.000000,412698.000000
mean,2.011161e+06,31215.181414,1.230061e+06,6947.201828,135.169361,6.585268,1899.049637,3.522988e+03,2004.317382,6.300268,16.152894,2.594338,176.784094
std,1.080068e+06,23141.743695,4.539533e+05,6280.824982,9.646749,17.158409,292.190243,2.716993e+04,5.821090,3.437276,8.429510,1.417971,103.910718
min,1.139246e+06,4750.000000,0.000000e+00,28.000000,121.000000,0.000000,1000.000000,0.000000e+00,1989.000000,1.000000,1.000000,0.000000,1.000000
25%,1.421898e+06,14500.000000,1.088593e+06,3261.000000,132.000000,1.000000,1985.000000,0.000000e+00,2000.000000,3.000000,9.000000,2.000000,82.000000
50%,1.645852e+06,24000.000000,1.284397e+06,4605.000000,132.000000,2.000000,1995.000000,0.000000e+00,2006.000000,6.000000,16.000000,3.000000,165.000000
75%,2.261012e+06,40000.000000,1.478079e+06,8899.000000,136.000000,4.000000,2001.000000,3.209000e+03,2009.000000,9.000000,23.000000,3.000000,270.000000
max,6.333349e+06,142000.000000,2.486330e+06,37198.000000,173.000000,99.000000,2014.000000,2.483300e+06,2012.000000,12.000000,31.000000,6.000000,365.000000

In [15]:
print(df.isnull().sum())
print(df.duplicated().sum())

SalesID                          0
SalePrice                        0
MachineID                        0
ModelID                          0
datasource                       0
auctioneerID                 20136
YearMade                         0
MachineHoursCurrentMeter    265194
UsageBand                   339028
fiModelDesc                      0
fiBaseModel                      0
fiSecondaryDesc             140727
fiModelSeries               354031
fiModelDescriptor           337882
ProductSize                 216605
fiProductClassDesc               0
state                            0
ProductGroup                     0
ProductGroupDesc                 0
Drive_System                305611
Enclosure                      334
Forks                       214983
Pad_Type                    331602
Ride_Control                259970
Stick                       331602
Transmission                224691
Turbocharged                331602
Blade_Extension             386715
Blade_Width                 386715
Enclosure_Type              386715
Engine_Horsepower           386715
Hydraulics                   82565
Pushblock                   386715
Ripper                      305753
Scarifier                   386704
Tip_Control                 386715
Tire_Size                   315060
Coupler                     192019
Coupler_System              367724
Grouser_Tracks              367823
Hydraulics_Flow             367823
Track_Type                  310505
Undercarriage_Pad_Width     309782
Stick_Length                310437
Thumb                       310366
Pattern_Changer             310437
Grouser_Type                310505
Backhoe_Mounting            331986
Blade_Type                  330823
Travel_Controls             330821
Differential_Type           341134
Steering_Controls           341176
saleYear                         0
saleMonth                        0
saleDay                          0
saleDayOfWeek                    0
saleDayOfYear                    0
dtype: int64
0

In [16]:
df.sample(10)

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,...,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,saleYear,saleMonth,saleDay,saleDayOfWeek,saleDayOfYear
399042,6311217,11500.0,1932385,17309,149,1.0,2004,NaN,NaN,S130,...,NaN,NaN,NaN,NaN,NaN,2011,12,14,2,348
80001,1329830,16500.0,1294447,4104,132,10.0,1980,NaN,NaN,D4E,...,None or Unspecified,Angle,None or Unspecified,NaN,NaN,1999,5,20,3,140
190267,1621982,15000.0,1554817,4793,132,1.0,1990,NaN,NaN,710C,...,NaN,NaN,NaN,NaN,NaN,2005,10,6,3,279
20197,1516088,21000.0,1522264,4123,132,4.0,1969,NaN,NaN,D6C,...,None or Unspecified,Angle,None or Unspecified,NaN,NaN,1993,2,1,0,32
6660,1616398,14500.0,1549997,8180,132,24.0,1984,NaN,NaN,510,...,NaN,NaN,NaN,Standard,Conventional,1990,4,27,4,117
20669,1596420,17000.0,1085310,8247,132,10.0,1978,NaN,NaN,644,...,NaN,NaN,NaN,Standard,Conventional,1993,2,25,3,56
31077,1263130,15500.0,1108782,6960,132,25.0,1979,NaN,NaN,W36,...,NaN,NaN,NaN,Standard,Conventional,1994,7,30,5,211
92239,1668500,21000.0,1115709,14733,132,1.0,1994,NaN,NaN,675D,...,NaN,NaN,NaN,NaN,NaN,2000,4,7,4,98
209331,1521315,31000.0,813028,1561,132,8.0,1995,NaN,NaN,D4HIILGP,...,None or Unspecified,PAT,None or Unspecified,NaN,NaN,2006,9,13,2,256
344783,2355557,24500.0,1692220,4764,136,1.0,2000,0.0,NaN,650H,...,None or Unspecified,PAT,None or Unspecified,NaN,NaN,2010,5,6,3,126

In [20]:
target_stats = df['SalePrice'].describe()
print(target_stats)

count    412698.000000
mean      31215.181414
std       23141.743695
min        4750.000000
25%       14500.000000
50%       24000.000000
75%       40000.000000
max      142000.000000
Name: SalePrice, dtype: float64

In [21]:
def analyze_missing_values(dataframe):
    missing_data = pd.DataFrame({
        'Column': dataframe.columns,
        'Missing_Count': dataframe.isnull().sum(),
        'Missing_Percentage': round(dataframe.isnull().sum() / len(dataframe) * 100, 2),
        'Data_Type': dataframe.dtypes
    }).sort_values('Missing_Percentage', ascending=False)

    missing_data = missing_data[missing_data['Missing_Count'] > 0]
    return missing_data

missing_analysis = analyze_missing_values(df)
print("Top 20 columns with missing values:")
print(missing_analysis.head(20))

# Categorize missing values by severity
high_missing = missing_analysis[missing_analysis['Missing_Percentage'] > 80]
medium_missing = missing_analysis[(missing_analysis['Missing_Percentage'] > 20) &
                                 (missing_analysis['Missing_Percentage'] <= 80)]
low_missing = missing_analysis[missing_analysis['Missing_Percentage'] <= 20]

print(f"\nMissing Value Categories:")
print(f" High missing (>80%): {len(high_missing)} columns")
print(f" Medium missing (20-80%): {len(medium_missing)} columns")
print(f" Low missing (20%): {len(low_missing)} columns")

Top 20 columns with missing values:
                              Column  Missing_Count  Missing_Percentage  \
Blade_Width              Blade_Width         386715               93.70
Enclosure_Type        Enclosure_Type         386715               93.70
Tip_Control              Tip_Control         386715               93.70
Scarifier                  Scarifier         386704               93.70
Pushblock                  Pushblock         386715               93.70
Blade_Extension      Blade_Extension         386715               93.70
Engine_Horsepower  Engine_Horsepower         386715               93.70
Grouser_Tracks        Grouser_Tracks         367823               89.13
Hydraulics_Flow      Hydraulics_Flow         367823               89.13
Coupler_System        Coupler_System         367724               89.10
fiModelSeries          fiModelSeries         354031               85.78
Steering_Controls  Steering_Controls         341176               82.67
Differential_Type  Differential_Type         341134               82.66
UsageBand                  UsageBand         339028               82.15
fiModelDescriptor  fiModelDescriptor         337882               81.87
Backhoe_Mounting    Backhoe_Mounting         331986               80.44
Turbocharged            Turbocharged         331602               80.35
Stick                          Stick         331602               80.35
Pad_Type                    Pad_Type         331602               80.35
Travel_Controls      Travel_Controls         330821               80.16

                  Data_Type
Blade_Width          object
Enclosure_Type       object
Tip_Control          object
Scarifier            object
Pushblock            object
Blade_Extension      object
Engine_Horsepower    object
Grouser_Tracks       object
Hydraulics_Flow      object
Coupler_System       object
fiModelSeries        object
Steering_Controls    object
Differential_Type    object
UsageBand            object
fiModelDescriptor    object
Backhoe_Mounting     object
Turbocharged         object
Stick                object
Pad_Type             object
Travel_Controls      object

Missing Value Categories:
 High missing (>80%): 21 columns
 Medium missing (20-80%): 17 columns
 Low missing (20%): 2 columns

In [27]:
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
print(f"Number of categorical columns: {len(categorical_cols)}")

print("\nTop categorical variables by unique values:")
cat_analysis = pd.DataFrame({
    'Column': categorical_cols,
    'Unique_Values': [df[col].nunique() for col in categorical_cols],
    'Missing_Percentage': [round(df[col].isnull().sum() / len(df) * 100, 2) for col in categorical_cols]
}).sort_values('Unique_Values', ascending=True)

print(cat_analysis)

Number of categorical columns: 44

Top categorical variables by unique values:
                     Column  Unique_Values  Missing_Percentage
13                    Forks              2               52.09
26                Scarifier              2               93.70
30           Coupler_System              2               89.10
31           Grouser_Tracks              2               89.13
22        Engine_Horsepower              2               93.70
19          Blade_Extension              2               93.70
18             Turbocharged              2               80.35
16                    Stick              2               80.35
24                Pushblock              2               93.70
33               Track_Type              2               75.24
39         Backhoe_Mounting              2               80.44
0                 UsageBand              3               82.15
27              Tip_Control              3               93.70
21           Enclosure_Type              3               93.70
15             Ride_Control              3               62.99
29                  Coupler              3               46.53
32          Hydraulics_Flow              3               89.13
36                    Thumb              3               75.20
38             Grouser_Type              3               75.24
37          Pattern_Changer              3               75.22
25                   Ripper              4               74.09
42        Differential_Type              4               82.66
14                 Pad_Type              4               80.35
11             Drive_System              4               74.05
43        Steering_Controls              5               82.67
9              ProductGroup              6                0.00
6               ProductSize              6               52.49
10         ProductGroupDesc              6                0.00
20              Blade_Width              6               93.70
12                Enclosure              6                0.08
41          Travel_Controls              7               80.16
17             Transmission              8               54.44
40               Blade_Type             10               80.16
23               Hydraulics             12               20.01
28                Tire_Size             17               76.34
34  Undercarriage_Pad_Width             19               75.06
35             Stick_Length             29               75.22
8                     state             53                0.00
7        fiProductClassDesc             74                0.00
4             fiModelSeries            123               85.78
5         fiModelDescriptor            140               81.87
3           fiSecondaryDesc            177               34.10
2               fiBaseModel           1961                0.00
1               fiModelDesc           5059                0.00

In [32]:
def find_column(df, possible_names):
    for name in possible_names:
        if name in df.columns:
            return name
    return None

sale_price_col = find_column(df, ['SalePrice', 'salePrice', 'price', 'Price'])
machine_hours_col = find_column(df, ['MachineHoursCurrentMeter', 'machineHoursCurrentMeter', 'MachineHours', 'Hours'])
year_made_col = find_column(df, ['YearMade', 'yearMade', 'Year_Made', 'year_made'])
state_col = find_column(df, ['state', 'State', 'STATE'])
product_group_col = find_column(df, ['ProductGroup', 'productGroup', 'Product_Group'])

In [34]:
key_numerical = []
if sale_price_col:
    key_numerical.append(sale_price_col)
if year_made_col:
    key_numerical.append(year_made_col)
if machine_hours_col:
    key_numerical.append(machine_hours_col)

for col in key_numerical:
    if col in df.columns:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        outliers = df[(df[col] < Q1 - 1.5*IQR) | (df[col] > Q3 + 1.5*IQR)][col]
        print(f"{col}: {len(outliers)} outliers ({(len(outliers)/len(df))*100:.1f}%)")

SalePrice: 23648 outliers (5.7%)
YearMade: 39764 outliers (9.6%)
MachineHoursCurrentMeter: 13017 outliers (3.2%)

In [35]:
current_year = 2012  # Based on the data, sales go up to 2012
if year_made_col:
    invalid_years = df[(df[year_made_col] < 1900) | (df[year_made_col] > current_year)]
    print(f" Invalid {year_made_col} values: {len(invalid_years)} records")
else:
    print(" Year made column not found")

# Check extreme machine hours
if machine_hours_col:
    extreme_hours = df[df[machine_hours_col] > 50000]  # More than ~25 years of operation
    print(f" Extreme machine hours (>50k): {len(extreme_hours)} records")

    # Check zero machine hours (might be missing)
    zero_hours = df[df[machine_hours_col] == 0]
    print(f" Zero machine hours: {len(zero_hours)} records")
else:
    print(" Machine hours column not found")

 Invalid YearMade values: 39394 records
 Extreme machine hours (>50k): 528 records
 Zero machine hours: 73834 records

In [38]:
df_clean = df.copy()

# Strategy 1: Drop columns with >95% missing values
high_missing_cols = missing_analysis[missing_analysis['Missing_Percentage'] > 80]['Column'].tolist()
print(f"Dropping {len(high_missing_cols)} columns with >95% missing values")
if high_missing_cols:
    df_clean = df_clean.drop(columns=high_missing_cols)
    print(f"Dropped columns: {high_missing_cols[:5]}{'...' if len(high_missing_cols) > 5 else ''}")

if year_made_col:
    print(f"Fixing {year_made_col} anomalies...")
    df_clean[year_made_col] = df_clean[year_made_col].clip(lower=1950, upper=2012)
    print(f" {year_made_col} values capped to reasonable range (1950-2012)")

# Handle extreme machine hours
if machine_hours_col:
    print("Handling extreme machine hours...")
    # Cap machine hours at 99th percentile to remove extreme outliers
    hours_99th = df_clean[machine_hours_col].quantile(0.99)
    df_clean[machine_hours_col] = df_clean[machine_hours_col].clip(upper=hours_99th)
    print(f" Machine hours capped at 99th percentile ({hours_99th:.0f} hours)")

    # Convert zero hours to NaN (likely missing data)
    df_clean.loc[df_clean[machine_hours_col] == 0, machine_hours_col] = np.nan
    print(" Zero hours converted to NaN")
else:
    print("  Machine hours column not found - skipping hours processing")
    hours_99th = None

# 2.2 Feature Engineering from Sale Date
print("\n2.2 FEATURE ENGINEERING FROM SALE DATE")
print("-" * 40)

# Find sale date columns
sale_year_col = find_column(df, ['saleYear', 'sale_year', 'SaleYear', 'year'])
sale_month_col = find_column(df, ['saleMonth', 'sale_month', 'SaleMonth', 'month'])

# Equipment age at time of sale
if year_made_col and sale_year_col:
    df_clean['EquipmentAge'] = df_clean[sale_year_col] - df_clean[year_made_col]
    print(" Created EquipmentAge feature")
else:
    print("  Cannot create EquipmentAge - missing year columns")

# Sale season
if sale_month_col:
    def get_season(month):
        if month in [12, 1, 2]:
            return 'Winter'
        elif month in [3, 4, 5]:
            return 'Spring'
        elif month in [6, 7, 8]:
            return 'Summer'
        else:
            return 'Fall'

    df_clean['SaleSeason'] = df_clean[sale_month_col].apply(get_season)
    print(" Created SaleSeason feature")
else:
    print("  Cannot create SaleSeason - missing month column")

# Hours per year (usage intensity)
if machine_hours_col and 'EquipmentAge' in df_clean.columns:
    df_clean['HoursPerYear'] = df_clean[machine_hours_col] / (df_clean['EquipmentAge'] + 1)
    print(" Created HoursPerYear feature")
else:
    print("  Skipping HoursPerYear - missing required columns")

# 2.3 Handle Missing Values
print("\n2.3 HANDLING MISSING VALUES")
print("-" * 40)


# Strategy 2: Fill missing categorical values with 'Unknown'
categorical_cols_clean = df_clean.select_dtypes(include=['object']).columns.tolist()
for col in categorical_cols_clean:
    if col in df_clean.columns:
        df_clean[col] = df_clean[col].fillna('Unknown')
print(f" Filled missing categorical values with 'Unknown'")

# Strategy 3: Handle specific important missing values
# Fill missing auctioneerID with mode
auctioneer_col = find_column(df_clean, ['auctioneerID', 'auctioneer_id', 'AuctioneerID'])
if auctioneer_col and auctioneer_col in df_clean.columns:
    df_clean[auctioneer_col] = df_clean[auctioneer_col].fillna(df_clean[auctioneer_col].mode()[0])
    print(f" Filled missing {auctioneer_col} with mode")

# Create missing indicator for machine hours
if machine_hours_col and machine_hours_col in df_clean.columns:
    df_clean['HasHoursMeter'] = (~df_clean[machine_hours_col].isna()).astype(int)

    # Fill missing machine hours with median by ProductGroup and EquipmentAge
    if product_group_col and 'EquipmentAge' in df_clean.columns:
        def fill_hours_by_group(group):
            return group[machine_hours_col].fillna(group[machine_hours_col].median())

else:
    # Create a dummy indicator if no hours column exists
    df_clean['HasHoursMeter'] = 0
    print("  No machine hours column found - created dummy HasHoursMeter feature")

# 2.4 Advanced Feature Engineering
print("\n2.4 ADVANCED FEATURE ENGINEERING")
print("-" * 40)

# Count non-null configuration features (equipment complexity)
id_cols = ['SalesID', 'MachineID', 'ModelID', 'datasource']
date_cols = [col for col in df_clean.columns if 'sale' in col.lower() or 'year' in col.lower() or 'month' in col.lower() or 'day' in col.lower()]
target_cols = [sale_price_col] if sale_price_col else []

exclude_cols = id_cols + date_cols + target_cols
config_cols = [col for col in df_clean.columns if col not in exclude_cols]

df_clean['ConfigurationCount'] = df_clean[config_cols].notna().sum(axis=1)
print(" Created ConfigurationCount feature (equipment complexity)")

# Price per hour (derived target for insights)
if machine_hours_col and machine_hours_col in df_clean.columns and sale_price_col:
    df_clean['PricePerHour'] = df_clean[sale_price_col] / (df_clean[machine_hours_col] + 1)
    print(" Created PricePerHour feature")

# Equipment size categories
if sale_price_col:
    def categorize_equipment_size(price):
        if price < 20000:
            return 'Small'
        elif price < 50000:
            return 'Medium'
        elif price < 100000:
            return 'Large'
        else:
            return 'Extra_Large'

    df_clean['EquipmentSizeCategory'] = df_clean[sale_price_col].apply(categorize_equipment_size)
    print(" Created EquipmentSizeCategory feature")

# 2.5 Handle Categorical Encoding
print("\n2.5 CATEGORICAL VARIABLE ENCODING")
print("-" * 40)

# Identify categorical columns for encoding
categorical_for_encoding = df_clean.select_dtypes(include=['object']).columns.tolist()

# Remove target and ID columns
id_and_target_cols = ['SalesID', 'MachineID', 'ModelID']
if sale_price_col:
    id_and_target_cols.append(sale_price_col)

categorical_for_encoding = [col for col in categorical_for_encoding
                           if col not in id_and_target_cols]

print(f"Categorical columns to encode: {len(categorical_for_encoding)}")

# Strategy: Use label encoding for high cardinality, one-hot for low cardinality
from sklearn.preprocessing import LabelEncoder

label_encoders = {}
high_cardinality_threshold = 50

for col in categorical_for_encoding:
    if col in df_clean.columns:
        unique_count = df_clean[col].nunique()

        if unique_count > high_cardinality_threshold:
            # Use label encoding for high cardinality
            le = LabelEncoder()
            df_clean[f'{col}_encoded'] = le.fit_transform(df_clean[col].astype(str))
            label_encoders[col] = le
            df_clean = df_clean.drop(columns=[col])
            print(f" Label encoded {col} ({unique_count} unique values)")
        else:
            # Use one-hot encoding for low cardinality
            dummies = pd.get_dummies(df_clean[col], prefix=col, prefix_sep='_')
            df_clean = pd.concat([df_clean, dummies], axis=1)
            df_clean = df_clean.drop(columns=[col])
            print(f" One-hot encoded {col} ({unique_count} unique values)")

# 2.6 Final Data Types Correction
print("\n2.6 FINAL DATA TYPES CORRECTION")
print("-" * 40)

# Ensure all numeric columns are proper numeric types
numeric_cols = df_clean.select_dtypes(include=[np.number]).columns.tolist()
for col in numeric_cols:
    if sale_price_col and col != sale_price_col:  # Keep target as float
        if df_clean[col].dtype == 'float64' and df_clean[col].nunique() < 1000:
            df_clean[col] = pd.to_numeric(df_clean[col], downcast='integer', errors='ignore')

print(" Optimized data types for memory efficiency")

# 2.7 Remove Irrelevant Columns
print("\n2.7 REMOVING IRRELEVANT COLUMNS")
print("-" * 40)

# Remove columns that won't help prediction
columns_to_drop = ['SalesID', 'MachineID']  # Keep ModelID as it might be useful
existing_cols_to_drop = [col for col in columns_to_drop if col in df_clean.columns]
if existing_cols_to_drop:
    df_clean = df_clean.drop(columns=existing_cols_to_drop)
    print(f" Dropped irrelevant columns: {existing_cols_to_drop}")

# 2.8 Final Dataset Summary
print("\n2.8 FINAL CLEANED DATASET SUMMARY")
print("-" * 40)

print(f"Final dataset shape: {df_clean.shape}")
print(f"Columns removed: {df.shape[1] - df_clean.shape[1]}")
print(f"Memory usage: {df_clean.memory_usage(deep=True).sum() / 1024**2:.1f} MB")

# Check for remaining missing values
remaining_missing = df_clean.isnull().sum().sum()
print(f"Remaining missing values: {remaining_missing}")

if remaining_missing > 0:
    print("Columns with remaining missing values:")
    missing_cols = df_clean.isnull().sum()[df_clean.isnull().sum() > 0]
    print(missing_cols)

# 2.9 Feature Summary
print("\n2.9 FEATURE SUMMARY")
print("-" * 40)

feature_types = {
    'Numeric': len(df_clean.select_dtypes(include=[np.number]).columns),
    'Binary': len([col for col in df_clean.columns if df_clean[col].nunique() == 2]),
    'Total Features': df_clean.shape[1] - (1 if sale_price_col in df_clean.columns else 0)
}

for feature_type, count in feature_types.items():
    print(f" {feature_type}: {count}")

# 2.10 Save Cleaned Dataset
print("\n2.10 SAVING CLEANED DATASET")
print("-" * 40)

# Save the cleaned dataset
df_clean.to_csv('train_cleaned.csv', index=False)
print(" Cleaned dataset saved as 'train_cleaned.csv'")

Dropping 21 columns with >95% missing values
Dropped columns: ['Blade_Width', 'Enclosure_Type', 'Tip_Control', 'Scarifier', 'Pushblock']...
Fixing YearMade anomalies...
 YearMade values capped to reasonable range (1950-2012)
Handling extreme machine hours...
 Machine hours capped at 99th percentile (22697 hours)
 Zero hours converted to NaN

2.2 FEATURE ENGINEERING FROM SALE DATE
----------------------------------------
 Created EquipmentAge feature
 Created SaleSeason feature
 Created HoursPerYear feature

2.3 HANDLING MISSING VALUES
----------------------------------------
 Filled missing categorical values with 'Unknown'
 Filled missing auctioneerID with mode

2.4 ADVANCED FEATURE ENGINEERING
----------------------------------------
 Created ConfigurationCount feature (equipment complexity)
 Created PricePerHour feature
 Created EquipmentSizeCategory feature

2.5 CATEGORICAL VARIABLE ENCODING
----------------------------------------
Categorical columns to encode: 25
 Label encoded fiModelDesc (5059 unique values)
 Label encoded fiBaseModel (1961 unique values)
 Label encoded fiSecondaryDesc (178 unique values)
 One-hot encoded ProductSize (7 unique values)
 Label encoded fiProductClassDesc (74 unique values)
 Label encoded state (53 unique values)
 One-hot encoded ProductGroup (6 unique values)
 One-hot encoded ProductGroupDesc (6 unique values)
 One-hot encoded Drive_System (5 unique values)
 One-hot encoded Enclosure (7 unique values)
 One-hot encoded Forks (3 unique values)
 One-hot encoded Ride_Control (4 unique values)
 One-hot encoded Transmission (9 unique values)
 One-hot encoded Hydraulics (13 unique values)
 One-hot encoded Ripper (5 unique values)
 One-hot encoded Tire_Size (18 unique values)
 One-hot encoded Coupler (4 unique values)
 One-hot encoded Track_Type (3 unique values)
 One-hot encoded Undercarriage_Pad_Width (20 unique values)
 One-hot encoded Stick_Length (30 unique values)
 One-hot encoded Thumb (4 unique values)
 One-hot encoded Pattern_Changer (4 unique values)
 One-hot encoded Grouser_Type (4 unique values)
 One-hot encoded SaleSeason (4 unique values)
 One-hot encoded EquipmentSizeCategory (4 unique values)

2.6 FINAL DATA TYPES CORRECTION
----------------------------------------
 Optimized data types for memory efficiency

2.7 REMOVING IRRELEVANT COLUMNS
----------------------------------------
 Dropped irrelevant columns: ['SalesID', 'MachineID']

2.8 FINAL CLEANED DATASET SUMMARY
----------------------------------------
Final dataset shape: (412698, 181)
Columns removed: -124
Memory usage: 126.3 MB
Remaining missing values: 1017084
Columns with remaining missing values:
MachineHoursCurrentMeter    339028
HoursPerYear                339028
PricePerHour                339028
dtype: int64

2.9 FEATURE SUMMARY
----------------------------------------
 Numeric: 21
 Binary: 162
 Total Features: 180

2.10 SAVING CLEANED DATASET
----------------------------------------
 Cleaned dataset saved as 'train_cleaned.csv'

In [42]:
df_clean.describe()

,SalePrice,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,saleYear,saleMonth,saleDay,saleDayOfWeek,saleDayOfYear,EquipmentAge,HoursPerYear,HasHoursMeter,ConfigurationCount,PricePerHour,fiModelDesc_encoded,fiBaseModel_encoded,fiSecondaryDesc_encoded,fiProductClassDesc_encoded,state_encoded
count,412698.000000,412698.000000,412698.000000,412698.000000,412698.000000,73670.000000,412698.000000,412698.000000,412698.000000,412698.000000,412698.000000,412698.000000,73670.000000,412698.000000,412698.000000,73670.000000,412698.000000,412698.00000,412698.000000,412698.000000,412698.000000
mean,31215.181414,6947.201828,135.169361,6.312757,1989.735618,4805.333383,2004.317382,6.300268,16.152894,2.594338,176.784094,14.581764,503.855373,0.178508,26.178508,42.499529,1696.462231,562.29233,91.459423,31.283975,22.452953
std,23141.743695,6280.824982,9.646749,16.777786,15.818705,4732.085109,5.821090,3.437276,8.429510,1.417971,103.910718,15.137402,469.913851,0.382940,0.382940,396.307423,1281.860399,473.19856,56.050930,22.584872,15.730291
min,4750.000000,28.000000,121.000000,0.000000,1950.000000,1.000000,1989.000000,1.000000,1.000000,0.000000,1.000000,-12.000000,-4534.000000,0.000000,26.000000,0.209273,0.000000,0.00000,0.000000,0.000000,0.000000
25%,14500.000000,3261.000000,132.000000,1.000000,1985.000000,1600.000000,2000.000000,3.000000,9.000000,2.000000,82.000000,5.000000,216.881250,0.000000,26.000000,4.132970,639.000000,207.00000,42.000000,10.000000,8.000000
50%,24000.000000,4605.000000,132.000000,1.000000,1995.000000,3213.000000,2006.000000,6.000000,16.000000,3.000000,165.000000,9.000000,384.000000,0.000000,26.000000,8.595664,1412.000000,407.00000,63.000000,34.000000,20.000000
75%,40000.000000,8899.000000,136.000000,4.000000,2001.000000,6411.000000,2009.000000,9.000000,23.000000,3.000000,270.000000,16.000000,675.666667,0.000000,26.000000,18.146006,2315.000000,705.00000,159.000000,51.000000,40.000000
max,142000.000000,37198.000000,173.000000,99.000000,2012.000000,22696.610000,2012.000000,12.000000,31.000000,6.000000,365.000000,62.000000,11348.305000,1.000000,27.000000,25000.000000,5058.000000,1960.00000,177.000000,73.000000,52.000000